body{
	background-color: #080818;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 120%;

}


h1{
text-align: center;
font-size: 400%;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
	color:white;
}
.bouton{
	color: #F0F0F0;
	margin: 5%;
	margin-left: 20%;
	margin-right: 20%;
	border-bottom-width: 2.5%;
	text-align: center;
	border: 3px red groove;
	border-radius: 10px;
	font-size: 200%;
}
