@font-face {
    font-family: "Keedy Bold";
    src: url("./Keedy Bold.ttf") format("truetype");
}
@font-face {
    font-family: "lucida";
    src: url("./lucida sans typewriter.ttf") format("truetype");
}

body{
	background-color: #080600;
	color: white;
	font-family: "lucida";
	font-size: 120%;
	text-align: justify;
	margin: auto;
	max-width: 1000px;
}


h1{
	font-family: "Keedy Bold";
text-align: center;
font-size: 400%;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
	width: 100%;
}
a{
	color:white;
}
h2{
	font-family: "Keedy Bold";
	color: #e61375;
}
.bouton{
	font-family:Stencil;
	color: #F0F0F0;
	margin: 5%;
	margin-left: 10%;
	margin-right: 10%;
	
	text-align: center;
	border: 10px solid;
	border-color: #6bb136;
	border-radius: 20px;
	font-size: 200%;
}
iframe{
	display: block;
    margin-left: auto;
    margin-right: auto;
}